
.Menu nav {
  padding:0;
  margin:0;
  height:2.5rem;
  padding-left:1rem;
  padding-right:1rem;
  background: #f9f5f1;
  align-items: center;
  width:100%;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  border-bottom:solid 1px #B3B3B3;
}

.Menu .mainActions {
  display: flex;
}

.Menu .viewModeActions {
  display: flex;
  align-items: center;
}
  
.Menu nav button {
  animation: appear 0.2s;
}
  
.Menu nav .selected {
  background:rgba(0, 0, 0, 0.062);
}
  
.Menu nav .material-icons {
  color:hsl(0, 0%, 20%);
  font-size:1rem;
}

 
.Menu .viewModeSelector {
  padding:0.5rem;
  max-width: 15rem;
}
