.Preview {
    box-sizing: border-box;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.Preview iframe {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
}